@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
/*link do czcionki z googel*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*wyzerowanie styli strony*/

body {
  font-family: "Monserrat", sans-serif;
}
/*czcionka zaimportowana z google fonts*/

header {
  background-color: black;
  color: white;
  display: flex; /*umieszcza wszystko po bokach*/
  padding: 30px 50px;
}

.header-title {
  display: flex;
  align-items: center;
  font-size: 40px;
}
.header-title span:first-child {
  color: red;
  margin-right: 5px;
}
.header-title span:last-child {
  background-color: red;
  color: black;
  border-radius: 25%;
  max-width: max-content;
  margin-left: 10px;
  font-size: 20px;
  padding: 3px 10px;
}

.search-bar {
  flex-grow: 1; /*rozrastanie elementu*/
  display: flex; /*powiększył wyszukiwarkę*/
  align-items: center;
  margin-left: 80px;
}

.search-bar-input {
  min-width: 400px;
  font-size: 18px;
  padding-left: 8px;
  height: 100%;
}

.search-bar-icon {
  background-color: red;
  padding: 2px 5px;
  display: flex;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
  height: 40px;
}

.header-cart {
  display: flex;
  align-items: end;
  font-size: 20px;
  font-weight: 500;
  gap: 5px; /*odsuwa elementy*/
}

.cart {
  font-size: 25px;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  gap: 15px;
}

.categories-title {
  font-size: 35px;
  letter-spacing: 1px;
}

.categories-item {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 10px;
  justify-content: center;
}

.categories-item button {
  font-size: 20px;
  padding: 10px 25px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.categories-item button:hover {
  background: black;
  color: red;
}

.categories-item button.active {
  background: black;
  color: red;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}

.product-item {
  position: relative;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.product-item-on-sale-info {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  color: red;
  padding: 5px 15px;
  border-radius: 5px;
  opacity: 0.8;
}

.product-item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product-item img {
  width: 260px;
}

.product-name {
  font-size: 23px;
  font-weight: bold;
}

.product-descripton {
  color: rgb(94, 94, 94);
  font-size: 15px;
  line-height: 22px;
  width: 70%;
}

.product-price {
  color: green;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-price .price-sale {
  display: none;
}

.product-item.on-sale .price {
  color: black;
  font-size: 13px;
  position: relative;
}

.product-item.on-sale .price::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: black;
  top: 30%;
  left: -5%;
  transform: rotate(-10deg);
}

.product-item.on-sale .price-sale {
  display: block;
}
.add-to-cart {
  background: black;
  color: white;
  width: 60%;
  font-size: 20px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.add-to-cart:hover {
  color: red;
}

@media only screen and (min-width: 1300px) {
  .container {
    display: flex;
  }
}

@media only screen and (min-width: 1300px) {
  .categories-item {
    flex-direction: column;
  }
  .categories {
    margin-left: 50px;
    margin-top: 50px;
    border-right: 1px solid rgb(73, 72, 72);
    min-width: 350px;
  }
  .categories-item button {
    padding: 10px 40px;
    border-radius: 5px;
  }
  .categories-title {
    background: red;
    width: 100%;
    text-align: center;
    padding: 6px;
  }
  .products {
    margin-left: 15px;
  }
}
